/* src/Chatbot.css */
.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 500px;
    padding: 20px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    min-width: 300px;
    width: 50%;
    margin-left: auto;
    background-image: url('/public/wood.jpg');
    background-size: 300px 300px;
    border-radius: 5px;
    border: 5px solid rgb(104, 74, 36);
  }
  
  .chatbox {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: rgb(248,236,221);
    border: 4px solid rgb(104, 74, 36);
    margin-bottom: 10px;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
  }
  
  .input-container > input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 4px;
    border:3px solid rgb(104, 74, 36);
    font-weight: 600;
  }

  input::placeholder{
    color: rgb(131, 100, 61);
  }

  .input-container > input:focus{
    border: 3px solid #fbc477;
    outline: none;
  }
  
  .send {
    /* padding: 5px; */
    background-color: #dbb47b;
    color: #090603;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    height: 39px;
    width: 60px;
    font-weight: 500;
    border: 3px solid rgb(104, 74, 36);
    /* margin-top: 3px; */
  }

  .send.processing {
    content:"";
    /* color: transparent; */
    cursor: not-allowed;
    pointer-events: none;
    position: relative;
    padding-right: 30px; /* Ensure space for spinner */
  }
  
  .send.processing::after {
    content: '';
    position: absolute;
    /* right: 10px; */
    top: 7px;
    left: 16px;
    width: 16px;
    height: 16px;
    border: 2px solid #825a22;
    border-top: 2px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* CSS talk bubble */
.bubble-chat {
	margin: 5px;
  display: inline-block;
  position: relative;
	/* width: 200px; */
  max-width: 75%;
  padding: 15px;
	height: auto;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  text-align: left;
}

.bubbleBot{
  align-self: flex-start;
	background-color: rgb(232, 232, 232);
  border: 3px solid rgb(131, 130, 130);

}
.bubbleUser{
  align-self: flex-end;
	background-color: rgb(201, 239, 205);
  border: 3px solid rgb(0, 108, 11);

}

/* .bubbleUser {
  text-align: right;
  background-color: #dcf8c6;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.bubbleBot {
  text-align: left;
  background-color: #eaeaea;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
} */

.bubbleUser:before{
  content: ' ';
	position: absolute;
	right: -19px;
  left: auto;
  width: 0;
	height: 0;
  top: 4px;
	bottom: auto;
  border: 8px solid;
	border-color: rgb(0, 108, 11) transparent transparent rgb(0, 108, 11);
}

.bubbleBot:before{
  content: ' ';
	position: absolute;
	left: -19px;
  right: auto;
  width: 0;
	height: 0;
  top: 4px;
	bottom: auto;
  border: 8px solid;
	border-color: rgb(131, 130, 130) rgb(131, 130, 130) transparent transparent;
}


.bubbleUser:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -12px;
  top: 7px;
	bottom: auto;
	border: 6px solid;
	border-color: rgb(201, 239, 205) transparent transparent rgb(201, 239, 205);
}

.bubbleBot:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  right: auto;
	left: -12px;
  top: 7px;
	bottom: auto;
	border: 6px solid;
	border-color: rgb(232, 232, 232) rgb(232, 232, 232) transparent transparent ;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}

.highlighted{
  pointer-events: none;
  z-index: 10001;
}